<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content}, ~{::title}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${loggedInUser.name}+'| QC'">Profile page</title>
</head>

<body>
    <div id="content">
        <!-- if user is logged in: sidebar-->
    <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar::sidebar}"></div>
    </div>
        <div class="sm:pl-64 pt-20" style="height: 1000px;">
            <h1>Welcome to profile page</h1>
        </div>
    </div>

    <script></script>
</body>

</html>