<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>services page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to services page</h1>
        <h2>Services offered by QC</h2>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem cupiditate eveniet debitis doloremque, fugiat sapiente quis vel! Beatae recusandae incidunt rem facere cumque maiores inventore eaque nulla aperiam rerum!<10></10>
    </div>
    <script></script>
</body>
</html>